<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>7Я</title>
</head>
<body>

<table width="100%" border="0" cellpadding="4">
    <tr>
        <td align="left">
            <button>Домашняя страница</button>
        </td>
        <td align="right">
            <button>Профиль</button>
        </td>
    </tr>
</table>
<hr>

<table width="100%" border="0" cellpadding="4">

    <tr>
        <td width="50%" align="center">
            <button><big><big>Упражнения</big></big></button>
            <br>
            <small>300+ движений</small>
        </td>
        <td width="50%" align="center">
            <button><big><big>Программы</big></big></button>
            <br>
            <small>готовые планы</small>
        </td>
    </tr>

    <tr>
        <td align="center">
            <button disabled><big><big>БЖУ</big></big></button>
            <br>
            <small>Доступно только с подпиской</small>
        </td>
        <td align="center">
            <button disabled><big><big>ИИ</big></big></button>
            <br>
            <small>Доступно только с подпиской</small>
        </td>
    </tr>

    <tr>
        <td colspan="2" align="center">
            <button disabled><big><big>Отслеживание прогресса</big></big></button>
            <br>
            <small>Недоступно без регистрации</small>
        </td>
    </tr>
</table>
<hr>

<table width="100%" border="0" cellpadding="6">
    <tr>
        <td width="50%" valign="top">
            <h3>Новости</h3>
            <table width="100%" border="1" cellpadding="3">
                <tr>
                    <td><small>15.05 - Papuas пожал 1 тонну</small></td>
                </tr>
                <tr>
                    <td><small>14.05 - Мишаню придавило пустым грифом</small></td>
                </tr>
                <tr>
                    <td><small>12.05 - Ден напердел в зале</small></td>
                </tr>
                <tr>
                    <td><small>10.05 - День глаз</small></td>
                </tr>
                <tr>
                    <td><small>08.05 - Результаты соревнований</small></td>
                </tr>
                <tr>
                    <td><small>05.05 - Питание при нагрузках</small></td>
                </tr>
                <tr>
                    <td><small>03.05 - Челлендж "30 дней планки"</small></td>
                </tr>
                <tr>
                    <td><small>01.05 - Новый фитнес-клуб</small></td>
                </tr>
                <tr>
                    <td><small>28.04 - Интервью с чемпионом</small></td>
                </tr>
                <tr>
                    <td><small>25.04 - Восстановление после тренировки</small></td>
                </tr>
                <tr>
                    <td><small>22.04 - Топ-5 упражнений для спины</small></td>
                </tr>
                <tr>
                    <td><small>20.04 - Марафон в выходные</small></td>
                </tr>
            </table>
        </td>

        <td width="50%" valign="top">
            <h3>Тренеры</h3>
            <table border="1" cellpadding="8">
                <tr>
                    <td>Семён Гибеев</td>
                </tr>
                <tr>
                    <td>Денис Бобрулько</td>
                </tr>
                <tr>
                    <td>Денис Колесник</td>
                </tr>
                <tr>
                    <td>Михаил Кот</td>
                </tr>
                <tr>
                    <td>Савин Святослав</td>
                </tr>
                <tr>
                    <td>Вадим Непомнящих</td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<hr>
<table width="100%" border="0" cellpadding="2">
    <tr>
        <td align="center"><small>Команда 7Я</small></td>
    </tr>
</table>

</body>
</html>